<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/button.css">

</head>
<body>
    <table border="1px">
        <tr>
            <th>Name</th>
            <th>Job</th>
        </tr>
        {% for person in person%}
        <td>{{person.name}}</td>
        <td>{{person.job}}</td>
        {%endfor%}
    </table>

    <a href="{% url 'data_tables' %}" class="button"> WITH API </a>

    <a href="{% url 'server_side_search' %}" class="button"> SERVER SIDE SEARCH </a>

</body>
</html>